/* Basic styles */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  margin: auto;
}

h1 {
  color: #fff;
  background-color: #1f8390;
  padding: 20px;
}

main {
  background-image: url('../img/background.png');
  background-repeat: repeat;
}

.footer {
  color: #fff;
  background-color: #777;
  text-align: center;
}

/* Flexbox header */

.header {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  background-color: #fff;
  border-bottom: dashed #777 1px;
  display: flex;
  justify-content: space-around;
}

.menu {
  display: inline-flex;
}

.menu li {
  padding-right: 15px;
  padding-top: 20px;
}

/* Link styles */

a:link {
  text-decoration: none;
  color: #777;
}

a:hover {
  color: #1f8390;
}

a:focus {
  color: #1f8390;
}

a:visited {
  color: #777;
}

/* About section  */

img {
  width: 15%;
}

.about {
  width: 80%;
  background-color: #fff;
  border: solid red 1px;
}

/*  Contact section */


/* Portfolio section */
